<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}<h1>Hola EscuelaIT, hoy es {{ "now" | date('d/m/y') }} - {{ '10024' | number_format( 2, ',', '.' ) }}</h1>{% endblock %}
        {% block javascripts %}<script type="text/javascript">
            function f()
            {
                alert('Hola');
            }
        </script> {% endblock %}
    </body>
</html>
