{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block contents %}
<div class="example-wrapper">
    <h2>{% if form.vars.value.id %}{{ 'edit' | trans | capitalize }}{% else %}{{ 'create' | trans | capitalize }}{% endif %} Post</h2>
    {{ form(form) }}
</div>
    {{ 'post.not_found' | trans( { '$postId' : 1 } ) }}
{% endblock %}
