{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block contents %}

<div class="example-wrapper">
    <h1>Posts disponibles</h1>

    {% for p in posts %}
        <p><a href="{{ url('show_post', { postId: p.id} ) }}">{{ p.title }}</a></p>
    {% else %}
        <p>No hay nada!</p>
    {% endfor %}
    <hr/>
    <p><a href="{{ url('interactively_create_post') }}">Nuevo post</a></p>
</div>
{% endblock %}
